extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
block content
  h1= title
  .card.mb-3 
    .card-header Bộ lọc sản phẩm
    .card-body
      .row 
        .col-6
          +filter-status(filterStatus)
        .col-6
          +search(keyword)
  if products.length > 0
    .card
      .card-header Danh sách sản phẩm
      .card-body
        table.table.table-striped
          thead
            tr
              th #
              th Name
              th Price
              th Description
              th Image
              th Actions
              th Status
          tbody
            each product, index in products
              tr
                td= index + 1
                td= product.title
                td= product.price
                td= product.description
                td
                  img(src=product.thumbnail, alt=product.title, style="width: 100px; height: auto;")
                td
                  button(class="btn btn-warning btn-sm me-1") Edit
                  button(class="btn btn-danger btn-sm") Delete
                td
                  if product.status === 'active'
                    a(
                    href="javascript:;" 
                    class="badge bg-success"
                    button-change-status
                    data-status =product.status
                    data-id=product.id
                    )  Active
                  else if product.status === 'inactive'
                    a(class="badge bg-secondary"
                     href="javascript:;" 
                     button-change-status
                     data-status =product.status
                     data-id=product.id
                    ) Inactive
                  else
                    span(class="badge bg-danger") Unknown Status
    

  else
    p No products available.
  +pagination(pagination)

  form(
  action="" 
  method="POST"
  id="form-change-status"
  data-path=`${prefixAdmin}/products/change-status`
  ) 

  script(src="/admin/js/product.js")