extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/formChangeMulti.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
block content
  
  if(role.permission.includes("products_view"))
    +alert-success("5000")
    h1= title
    .card.mb-3 
      .card-header Bộ lọc sản phẩm
      .card-body
        .row 
          .col-6
            +filter-status(filterStatus)
          .col-6
            +search(keyword)
    if products.length > 0
      .card
        .card-header Danh sách sản phẩm
        .card-body
          .row
            .col-4 
              +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
            .col-4 
              +sortBox
            .col-4 
              if(role.permission.includes("products_create"))
                a(href=`${prefixAdmin}/products/create`
                class="btn btn-outline-success") +Thêm mới 
        
              

          table(
            class="table table-hover table-sm"
            checkbox-multi
          )
            thead
              tr
                th 
                  input(type="checkbox" name="checkall")
                th #
                th Name
                th Price
                th Description
                th Image
                th Position
                th Actions
                th Status
                th By
            tbody
              each product, index in products
                tr
                  td 
                    input(type="checkbox"
                    name="id"
                    value=product.id)
                  td= index + 1
                  td= product.title
                  td= product.price
                  td!= product.description
                  td
                    img(src=product.thumbnail, alt=product.title, style="width: 100px; height: auto;")
                  td 
                    input(
                      type="number"
                      value=product.position
                      style="width:60px"
                      min="1"
                      name="position")
                      
                  td
                    if(role.permission.includes("products_view"))
                      a(href=`${prefixAdmin}/products/detail/${product.id}`
                        class="btn btn-secondary btn-sm me-1") View
                    if(role.permission.includes("products_edit"))
                      a(href=`${prefixAdmin}/products/edit/${product.id}`
                        class="btn btn-warning btn-sm me-1") Edit
                    if(role.permission.includes("products_delete"))
                      button(
                        class="btn btn-danger btn-sm"
                        button-Delete
                        data-id=product.id
                        ) Delete
                  td
                    if product.status === 'active'
                      a(
                      href="javascript:;" 
                      class="badge bg-success"
                      button-change-status
                      data-status =product.status
                      data-id=product.id
                      )  Active
                    else if product.status === 'inactive'
                      a(class="badge bg-secondary"
                      href="javascript:;" 
                      button-change-status
                      data-status =product.status
                      data-id=product.id
                      ) Inactive
                    else
                      span(class="badge bg-danger") Unknown Status
                  td
                    if(product.createdBy && product.createdBy.account_id && product.createdBy.createAt)
                      p #{product.accFullname || 'Unknown User'} 
                      p Cập nhật: #{moment(product.createdBy.createAt).calendar()} (#{moment(product.createdBy.createAt).fromNow()})
                    else
                      p Không có thông tin

    else
      p No products available.
    +pagination(pagination)

    form(
    action="" 
    method="POST"
    id="form-change-status"
    data-path=`${prefixAdmin}/products/change-status`
    ) 

    form(
    action="" 
    method="POST"
    id="form-delete-item"
    data-path=`${prefixAdmin}/products/deleteItem`
    ) 

    script(src="/admin/js/product.js")