extends ../../layouts/layoutDefault.pug

block content
  .container.my-3
    .row  
      .col-12
        h3.box-head Chat
    .row
      .col-12
        .chat(my-id=user.id)
          .inner-head
            .inner-avatar
              if otherUser 
                img(src=otherUser.avatar || 'https://images.icon-icons.com/1378/PNG/512/avatardefault_92824.png', alt=otherUser.userName || 'Khách avatar')
              else
                img(src='/default-avatar.png', alt='Khách avatar')
            .inner-name #{otherUser ? otherUser.userName : 'Khách'}


          .inner-body
            each chat in chats
              // Sử dụng toString() để so sánh ObjectId
              if chat.user_Id.toString() === infoUser._id.toString()
                // Tin nhắn của mình (outgoing) - không hiện tên
                .inner-outgoing
                  .inner-content
                    | #{chat.content}
              else
                // Tin nhắn của người khác (incoming) - hiện tên
                .inner-incoming
                  if chat.infoUser
                    .inner-name #{chat.infoUser.userName}
                  .inner-message-row
                    .inner-avatar
                      img(src=chat.infoUser.avatar || 'https://images.icon-icons.com/1378/PNG/512/avatardefault_92824.png', alt=chat.infoUser.userName || 'Khách avatar')
                    .inner-content
                      | #{chat.content}

                
            .inner-list-typing
                  
          .inner-foot
            form.inner-form(action="")
              .input-group
                input#chatInput.form-control(
                  type="text",
                  placeholder="Nhập nội dung...",
                  name="content",
                  autocomplete="off"
                )
                span#emojiBtn.button-icon.btn.btn-light(title="Chọn emoji")
                  i.fa-solid.fa-face-smile
                button#chatSend.btn.btn-info(type="submit", title="Gửi tin nhắn")
                  i.fa-solid.fa-paper-plane
  div.tooltip(role="tooltip")
    emoji-picker.light