extends ../../layouts/layoutDefault.pug
include ../../mixins/alert.pug
block content
  h2.mt-5.mb-4 Giỏ hàng của bạn
  +alert-success("5000")
  if cartItems && cartItems.product && cartItems.product.length > 0
    table.table.table-hover
      thead
        tr
          th Hình ảnh
          th Tên sản phẩm
          th Số lượng
          th Giá
          th Thành tiền
          th Hành động
      tbody
        each item in cartItems.product
          tr
            td
              if item.productInfo && item.productInfo.thumbnail
                img(
                  src=item.productInfo.thumbnail, 
                  alt=item.productInfo.title, 
                  style="width: 80px"
                )
              else
                | Không có ảnh
            td
              if item.productInfo
                a(href=`/products/detail/${item.productInfo.slug}`, style="text-decoration: none; font-weight: bold; color: inherit;")
                  = item.productInfo.title
              else
                | Sản phẩm không tồn tại

            td
              input.form-control.form-control-sm(
                type="number", 
                name="quantity", 
                value=item.quantity, 
                min="1", 
                style="width: 60px; display:inline-block;", 
                product-id=item.product_id
              )
            td
              = item.productInfo ? item.productInfo.price.toLocaleString() + ' đ' : '0 đ'
            td
              = item.productInfo ? (item.productInfo.price * item.quantity).toLocaleString() + ' đ' : '0 đ'
            td
              a.btn.btn-sm.btn-danger(href=`/cart/remove/${item.product_id}`) Xóa

    .text-end.mt-4
 
      - var firstItemWithDiscount = cartItems.product.find(item => item.productInfo && item.productInfo.discountPercentage)
  
      if firstItemWithDiscount && firstItemWithDiscount.productInfo.discountPercentage > 0
        h5.text-success
          | Giảm giá: 
          span.fw-bold #{firstItemWithDiscount.productInfo.discountPercentage}%

      h4.mb-3
        | Tổng tiền: 
        strong.text-primary #{totalPrice.toLocaleString('vi-VN')} đ
      a.btn.btn-success.btn-lg(href="/checkout") Thanh toán
  else
    .text-center.mt-5
      h3 Giỏ hàng trống!
      p.text-muted Bạn chưa có sản phẩm nào trong giỏ hàng
      a.btn.btn-primary(href="/products") Tiếp tục mua sắm
  script(src="/js/cart.js")