extends ../../layouts/layoutDefault.pug
block content
  .container.my-3
    include ../../partials/list-users.pug
    .row  
      .col-12
        h3.box-head Danh sách bạn bè
    .row(data-users-friends=user.id)
      each user in users
        .col-6(user-id=user.id)
          .box-user
            .inner-avatar
              img(
                src=user.avatar ? user.avatar : "https://images.icon-icons.com/1378/PNG/512/avatardefault_92824.png",
                alt=user.userName
              )
              // tag trạng thái
              span.status(class=user.statusOnline === "online" ? "online" : "offline",
              status=user.statusOnline)
            .inner-info
              .inner-name #{user.userName}
              .inner-status(status=user.statusOnline) #{user.statusOnline === "online" ? "Đang hoạt động" : "Ngoại tuyến"}
              .inner-buttons
                
                if user.infoUser && user.infoUser.room_chat_Id
                  a.btn.btn-sm.btn-primary(
                    href=`/chat/${user.infoUser.room_chat_Id}`,
                    data-chat-with=user.id
                  ) Nhắn tin