aside.sidebar.bg-light.p-3
  h2 Menu
  ul.nav.flex-column
    li.nav-item
      a.nav-link(href=`${prefixAdmin}/dashboard`) Dashboard
    if(role.permission.includes("products_view"))
      li.nav-item
        a.nav-link(href=`${prefixAdmin}/products`) Product
    if(role.permission.includes("products-category_view"))
      li.nav-item
        a.nav-link(href=`${prefixAdmin}/categories-product`) Categories Product
    if(role.permission.includes("roles_view"))
      li.nav-item
        a.nav-link(href=`${prefixAdmin}/roles`) Permission Group
    if(role.permission.includes("roles_permission"))
      li.nav-item
        a.nav-link(href=`${prefixAdmin}/roles/permissions`) Permission 
    if(role.permission.includes("account_view"))
      li.nav-item
        a.nav-link(href=`${prefixAdmin}/accounts`) Accounts 
